body{
background:black;
color:white;
}

button, input[type="button"]{
  color:black;
}

ul{
  text-decoration: none;
  list-style: none;
}

.brandContainer{
  height:72px;
  background:white;
}

.brandLink{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.appContainer{
  display:flex;
  height: 90vh;
  margin:0 2em;
}

.registerFlex{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
}

h3.registerFlexItem{
  color:white;
}

input.registerFlexItem{
  width:100%;
  height:48px;
  background:teal;
  color:white;
}

.bridgeLinkSVG{
  width:200px;
  height:200px;
  background-image: url('/3rdParty/PhilipsIconPack/Push-link/SVG/pushlink_bridgev2.svg');
  background-repeat: no-repeat;
}

.bottomFlexNav{
  display:flex;
  justify-content: space-around;
  padding:0;
  margin:0;
  background: white;
  height:72px;
}

.bottomFlexNav a{
  flex-grow: 1;
  height:inherit;
  display:flex;
  justify-content: center;
  align-items: center;
}

.bottomFlexNav a:hover, .bottomFlexNav a.active{
  background:blue;
  color:white;
}

#colorBar{
  display:flex;
  margin-bottom:2em;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom:2px solid white;
}

#selectedColor{
  width:320px;
  margin:0 auto;
  margin-bottom:2em;
  height:2em;
  background-color:#fff;
  content: " ";
  border-radius:20px;
}

.lightBulbSVG{
  fill:white;
  width:50px;
  height:50px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
